<div>
    <div class="row">
        <div class="col-mid-12">
            <h2 class="text-center">About Angular Training</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet repudiandae tenetur odit reprehenderit
                ipsam rerum saepe officiis eos dolor dignissimos cupiditate libero, architecto fugiat praesentium
                molestias veniam incidunt facere animi ipsum laborum repellat mollitia vitae aut? Ut, perferendis
                reiciendis ullam ratione dicta aliquam asperiores minima! Eius impedit dolorum nihil a doloribus. Quam,
                voluptatibus iusto optio aliquid totam cum, animi corporis expedita ea adipisci vero, similique fugit
                accusamus? Odio nobis deleniti quos quidem sunt incidunt iusto amet, quia consectetur aspernatur,
                aliquid odit! Libero, odit corporis! Doloremque molestias, sint quod doloribus nemo odio aliquid magni
                labore nam. Quisquam recusandae corrupti error id.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <router-outlet name="map"></router-outlet>
        </div>
        <div class="col-md-6">
            <router-outlet name="feeds"></router-outlet>
        </div>
    </div>
</div>