<div style="text-align:left">

	<h3 style="text-align:center">There are 3 variant of RxJS Subject</h3>
	<ul>
		<li>BehaviorSubject</li>
		<p>BehaviorSubject is a special type of Subject whose only different is that it will emit the last value upon a
			new observer's subscription.
			A BehaviorSubject holds one value. When it is subscribed it emits the value immediately.
			A Subject doesn't hold a value.

			BehaviorSubject is the most used subject in Angular application.
			There is one state management library in Angular ngRX, which is completely designed on BehaviorSubject.
			In angular application, if you requirement is to pass some initial value to your subscriber even without
			publishing the data,
			or you want your subscriber should always get some data even before the subscription. Then behaviorSubject
			is the solution.</p>
		<li>ReplaySubject</li>
		<li>AsyncSubject</li>
	</ul>
</div>