<div style="text-align:left">

	<h3 style="text-align:center">There are 3 variant of RxJS Subject</h3>
	<ul>
		<li class="myDIV">BehaviorSubject</li>
		<div class="hide">
			<p>BehaviorSubject is a special type of Subject whose only different is that it will emit the last value
				upon a
				new observer's subscription.
				A BehaviorSubject holds one value. When it is subscribed it emits the value immediately.
				A Subject doesn't hold a value.</p>

			<p>BehaviorSubject is the most used subject in Angular application.
				There is one state management library in Angular ngRX, which is completely designed on BehaviorSubject.
				In angular application, if you requirement is to pass some initial value to your subscriber even without
				publishing the data,
				or you want your subscriber should always get some data even before the subscription. Then
				behaviorSubject
				is the solution.
			</p>
		</div>

		<li class="myDIV">ReplaySubject</li>
		<div class="hide">
			<p>ReplaySubject is one of the variant of Subject and it can emit old values to new subscribers. It can
				buffer the old emitted values and then immediately pass those values to the new subscribers and the
				latest value to the existing subscriber</p>
			<p>Unlike BehaviorSubject ReplaySubject don't have any initial value, so if your requirement says that
				initial values is not needed but instead want to emit multiple previous emitted values(that can be
				decide how many old values) to emit to new subscribers so that they have some data use Replay Subject.
			</p>
		</div>
		<li class="myDIV">AsyncSubject</li>
		<div class="hide">
			<p>AsyncSubject is a variant of a Subject which keeps the last value emitted by a source observable before completion and sends it to all new subscriptions and as soon as you call complete() method, it sends the last emitted value to all current subscribers and its future subscribers.</p>

				<p>Async Subject only hold single value unlike Behaviour and ReplaySubject. So we can related Async Subject with promise because promises also hold single value and on completion it send the data, the major difference is that promise are eager and Observables (Async Subject) is lazy , it means promises don't need any subscriber for its execution, it execute immediately but on another hand Observables are lazy it mean they need subscriber to start execution</p>
				
				<p>Async Subject could be useful for fetching and caching (one-shot) resources, since generally http.get will emit one response then complete.</p>
		</div>
	</ul>
</div>